<div class="right-side-page-bar">
    <div class="notifications">
        <h4>Notifications</h4>
        <ul>
            <li>No new notifications</li>
            <!-- Add more notifications here -->
        </ul>
    </div>
    <div class="activities">
        <h4>Recent Activities</h4>
        <ul>
            <li>No recent activities</li>
            <!-- Add more activities here -->
        </ul>
    </div>
    <div class="contacts">
        <h4>Contacts</h4>
        <ul>
            <li>No contacts available</li>
            <!-- Add more contacts here -->
        </ul>
    </div>
  </div>