<div class="left-side-page-bar">
  <div class="user-info">
      <i class="fas fa-user-circle"></i>
      <h4><%= currentUser.username %></h4>
  </div>
  <ul>
      <li><a href="/profile"><i class="fas fa-user"></i> Profile</a></li>
      <li><a href="/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
      <li><a href="/tasks"><i class="fas fa-tasks"></i> Tasks</a></li>
      <li><a href="/schedules"><i class="fas fa-calendar-alt"></i> Schedules</a></li>
      <li><a href="/messages"><i class="fas fa-envelope"></i> Messages</a></li>
      <li><a href="/settings"><i class="fas fa-cog"></i> Settings</a></li>
      <% if (currentUser.role === "Admin" || currentUser.role === "Manager") { %>
        <li><a href="/requests/new"><i class="fas fa-ticket-alt"></i> Submit Request</a></li>
      <% } %>
      <% if (currentUser.role === "Admin" || currentUser.role === "Manager") { %>
        <li><a href="/admin/users"><i class="fas fa-users-cog"></i> User Management</a></li>
      <% } %>
      <li><a href="/logout"><i class="fa fa-external-link-square"></i> Logout</a>
  </ul>
</div>