<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error - <%= status %></title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f8d7da;
      color: #721c24;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .container {
      text-align: center;
      background-color: #ffffff;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border: 1px solid #f5c6cb;
    }
    h1 {
      font-size: 3em;
      margin-bottom: 0.5em;
    }
    p {
      font-size: 1.2em;
      margin-bottom: 1em;
    }
    button {
      display: inline-block;
      margin-top: 1em;
      padding: 0.5em 1em;
      text-decoration: none;
      color: #721c24;
      background-color: #f8d7da;
      border: 1px solid #f5c6cb;
      border-radius: 4px;
      transition: background-color 0.3s, color 0.3s;
    }
    button:hover {
      background-color: #721c24;
      color: #ffffff;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Error <%= status %></h1>
    <p><%= message %></p>
    <form action="/" method="GET">
        <button type="submit">Go Back to Home</button>
      </form>
  </div>
</body>
</html>